.about-module {
  margin: 40vh 0;
  padding: 4rem 0 7rem 0;
  position: relative;
  color: $base-color;
  background-color: $secondary-color;
  clip-path: polygon(0 0%, 100% 12%, 100% 94%, 0 100%);
  width: 100%;

  p {
    position: relative;
  }
}

.about__content {
  display: flex;
  position: relative;
  margin-left: 40rem;
  font-size: 1.5rem;
}

.about__img-container {
  position: absolute;
  top: 5rem;
  height: 45rem;
  width: 45rem;
  clip-path: polygon(0 0, 0% 100%, 70% 51%);
  overflow: hidden;
}

.about__my-img {
  width: 70rem;
  margin-left: -25rem;
  margin-top: -3rem;
}

@media (max-width: 1049px) {
  .about__img-container {
    display: none;
  }

  .about__content {
    margin: 5rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .about__content {
    font-size: 3.5rem;
  }

  .about-module {
    padding-top: 15rem;
  }
}
