.about-module {
  margin-top: 40vh;
  padding-top: 20vh;
  position: relative;
  color: $base-color;

  p {
    position: relative;
  }
}

.background-poly {
  top: 0;
  position: absolute;

  & > path {
    fill: $secondary-color;
    stroke: $secondary-color;
  }
}
