.about-module {
  padding: 4rem 0 7rem 0;
  position: relative;
  color: $base-color;
  background-color: $secondary-color;
  clip-path: polygon(0 0%, 100% 12%, 100% 94%, 0 100%);
  width: 100%;

  p {
    position: relative;
  }
}

.about-content {
  display: flex;
  position: relative;
  margin-left: 40rem;
  font-size: 1.5rem;
}

.about-img {
  position: absolute;
  top: 5rem;
  height: 45rem;
  width: 45rem;
  clip-path: polygon(0 0, 0% 100%, 70% 51%);
  overflow: hidden;
}

.its-me {
  width: 70rem;
  margin-left: -25rem;
  margin-top: -3rem;
}
