@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@-webkit-keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@-webkit-keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes slide-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(10rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }
}

@-webkit-keyframes slide {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }
}

@keyframes fade-left {
  100% {
    transform: translateX(-200vw);
    opacity: 0;
  }
}

@-webkit-keyframes fade-left {
  100% {
    transform: translateX(-200vw);
    opacity: 0;
  }
}

@keyframes fade-right {
  100% {
    transform: translateX(200vw);
    opacity: 0;
  }
}

@-webkit-keyframes fade-right {
  100% {
    transform: translateX(200vw);
    opacity: 0;
  }
}

@keyframes appear-left {
  100% {
    transform: translateX(-107.4vw);
    opacity: 1;
  }
}

@-webkit-keyframes appear-left {
  100% {
    transform: translateX(-107.4vw);
    opacity: 1;
  }
}

@keyframes appear-right {
  100% {
    transform: translateX(107.4vw);
    opacity: 1;
  }
}

@-webkit-keyframes appear-right {
  100% {
    transform: translateX(107.4vw);
    opacity: 1;
  }
}

@keyframes move-to-right {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }
}

@-webkit-keyframes move-to-right {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }
}

@keyframes move-to-left {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }
}

@-webkit-keyframes move-to-left {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }
}

@keyframes go-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes go-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
