@import "./variables";

.contact-module {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.contact__content {
  padding: 3rem;
  padding-bottom: 20vh;
  font-size: 1.5rem;
}

.contact__icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  a {
    width: 6rem;
    margin-right: 1rem;

    &:hover {
      border: none;
    }

    & > svg {
      & > path {
        stroke: $secondary-color;
      }

      &:hover > path {
        stroke: $tertiary-color;
      }

      &:hover > ellipse {
        stroke: $tertiary-color;
        fill: $tertiary-color;
      }
    }
  }
}

@media (max-width: 1049px) {
  .contact__content {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .contact__content {
    font-size: 3.5rem;
  }

  .contact__icon-container a {
    width: 10rem;
  }
}
