@import "./variables";

.contact-module {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.contact__content {
  padding: 3rem;
  padding-bottom: 20vh;
  font-size: 1.5rem;
}

.contact__icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  a {
    width: 6rem;
    margin-right: 1rem;

    &:hover {
      border: none;
    }

    & > svg {
      & > path {
        stroke: $secondary-color;
      }
      &:hover > path {
        stroke: $tertiary-color;
      }
    }
  }
}
