@import "./variables";

.contact-module {
  margin-bottom: 20vh;

  h1 {
    margin: 2rem 0;
  }
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form-group {
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-size: 1.5rem;
}

label {
  margin-bottom: 0.4rem;
}

.form-text {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 40rem;

  &:focus {
    outline-color: $tertiary-color;
  }
}

.form-message {
  height: 20rem;
  width: 40rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  resize: none;

  &:focus {
    outline-color: $tertiary-color;
  }
}

.form-button {
  background-color: inherit;
  border: $tertiary-color solid;
  color: $tertiary-color;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 2.5rem;
  outline: none;
  transition: background-color 0.5s, color 0.6s;

  &:hover {
    background-color: $tertiary-color;
    color: rgba(255, 255, 255, 0.5);
  }
}
