.home-module {
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  width: 100%;
  height: 120vh;
  background: linear-gradient(
      to left,
      $secondary-color 50%,
      hsla(0, 0, 0, 0) 50%
    ),
    url("/../src/images/poppy.svg");
  background-position: 80% 65%;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.home__title-container {
  margin: 17vh -5.5rem 0 auto;
  width: 44rem;
  position: relative;
}

.home__icon-container {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;

  a {
    border: none;
    background: none;
    outline: none;
    position: relative;
    width: 3.5rem;
    margin: 0.8rem;

    &:hover {
      border: none;
    }

    & > svg {
      & > path {
        stroke: $base-color;
      }
      &:hover > path {
        stroke: $tertiary-color;
      }
    }
  }
}

h1 {
  font-family: $fancy-font;
  font-size: 4.5rem;
  text-align: right;
  margin-right: 1.5em;
  background: linear-gradient(
    to right,
    $secondary-color 58.6%,
    $tertiary-color 58.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__page-explore {
  position: relative;
  font-size: 1.5rem;
  color: $tertiary-color;
  flex: 100%;
  text-align: center;
  margin-top: -8rem;
}

.home__head-arrow {
  width: 1rem;
  & > path {
    stroke: $tertiary-color;
  }
}

@media (max-width: 480px) {
  .home-module {
    background: linear-gradient(
        to left,
        scale-color($secondary-color, $alpha: -50%) 100%,
        hsla(0, 0, 0, 0) 100%
      ),
      url("/../src/images/poppy.svg");
    background-position: 50% 80%;
    background-size: 120vh;
    height: 140vh;
    clip-path: polygon(100% 0, 100% 75%, 50% 85%, 0 75%, 0 0);
  }

  .home__icon-container {
    display: none;
  }

  .home__title-container {
    width: 90%;
    margin: 0;
  }

  h1 {
    margin: 15rem 0.5rem 0 0.5rem;
    font-size: 10rem;
    background: none;
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: $secondary-color;
  }

  .home__page-explore {
    margin-top: -25rem;
    font-size: 3.5rem;
  }

  .home__head-arrow {
    width: 2.5rem;
  }
}
