.home-module {
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(
      to left,
      $secondary-color 50%,
      hsla(0, 0, 0, 0) 50%
    ),
    url("/../src/images/poppy.svg");
  background-position: 80% 65%;
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.title-container {
  margin: 17vh -5.5rem 0 auto;
  width: 44rem;
  position: relative;
}

.icon-container {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;

  & > a {
    border: none;
    background: none;
    outline: none;
    position: relative;
    width: 3.5rem;
    margin: 0.8rem;

    &:hover {
      border: none;
    }

    & > svg {
      & > path {
        stroke: $base-color;
      }
      &:hover > path {
        stroke: $tertiary-color;
      }
    }
  }
}

h1 {
  font-family: $fancy-font;
  font-size: 4.5rem;
  text-align: right;
  margin-right: 1.5em;
  background: linear-gradient(
    to right,
    $secondary-color 59.2%,
    $tertiary-color 59.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-explore {
  position: relative;
  font-size: 1.5rem;
  color: $tertiary-color;
  flex: 100%;
  text-align: center;
  margin-top: -8rem;
}

.head-arrow {
  width: 1rem;
  & > path {
    stroke: $tertiary-color;
  }
}
