.head-module {
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(
      to left,
      $secondary-color 50%,
      hsla(0, 0, 0, 0) 50%
    ),
    url("/../src/images/poppy.svg");
  background-position: 80% 65%;
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  top: 0;
}

.title-container {
  margin-top: 17vh;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
}

h1 {
  font-family: $fancy-font;
  font-size: 4.5rem;
  text-align: right;
  margin-right: 1.5em;
  background: linear-gradient(
    to right,
    $secondary-color 59.8%,
    $tertiary-color 59.8%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 35rem;
}

.page-explore {
  position: relative;
  font-size: 1.5rem;
  color: $tertiary-color;
  flex: 100%;
  text-align: center;
  margin-top: 1vw;
  z-index: 3;
}

.head-arrow {
  width: 1rem;
  & > path {
    stroke: $tertiary-color;
  }
}
