@import "./variables";

header {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr;
  font-family: $fancy-font;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 1rem;
  top: 0;
  position: fixed;
}

ul {
  grid-area: 1/3/2/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

a {
  color: $tertiary-color;
  text-decoration: none;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.logo-module {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.nav-active {
  color: $base-color;
}
