@import "./variables";

.nav-module {
  display: grid;
  grid-template-columns: 1fr 4fr 50vw;
  font-family: $fancy-font;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 1rem 0 0.4rem 0;
  top: 0;
  position: fixed;
  z-index: 4;
  transition: background-color 1s, box-shadow 1s;

  & > ul {
    grid-area: 1/3/2/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 0.6rem;
    margin: 0;
  }
}

.nav__menu-button {
  display: none;
}

.nav__logo {
  position: relative;
  width: 3rem;

  & > path {
    stroke: $tertiary-color;
  }
}

a {
  color: $tertiary-color;
  text-decoration: none;

  li {
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 0;
    transition: border 2s;
    color: $tertiary-color;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid;
    }
  }
}

.nav__logo-module {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: $tertiary-color;
}

.nav__active {
  color: $base-color;
}

@media (min-width: 1050px) {
  .detached {
    background-color: $secondary-color;
    -webkit-box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
    box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
  }
}

@media (max-width: 1049px) {
  @-webkit-keyframes fadeIn {
    from {
      width: 0;
    }
    to {
      width: 45vw;
    }
  }
  @keyframes fadeIn {
    from {
      width: 0;
    }
    to {
      width: 45vw;
    }
  }

  .nav-module {
    background: none;
    margin: 0;
    padding: 0;
    ul {
      display: none;
      background-color: scale-color(
        $base-color,
        $lightness: -40%,
        $saturation: -40%
      );
      font-size: 4.5vw;
      height: 110vh;
      position: fixed;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      right: 0;
      margin: 0;
      padding: 0;
      text-align: center;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
      a {
        width: 100%;

        &:active {
          background-color: scale-color($base-color, $lightness: -20%);
        }

        li {
          padding: 4rem 10vw;
        }
      }
    }
  }

  .detached {
    & > .nav__logo-module {
      display: none;
    }
  }

  .nav__hamburger-t,
  .nav__hamburger-m,
  .nav__hamburger-b {
    width: 4.5rem;
    height: 0.5rem;
    content: "";
    background-color: $tertiary-color;
    border-radius: 3rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    transition: 1s ease;
  }

  .nav__hamburger-m,
  .nav__hamburger-b {
    position: absolute;
  }

  .nav__hamburger-m {
    top: 5.5rem;
  }

  .nav__hamburger-b {
    top: 7rem;
  }

  .nav__menu-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    background-color: $secondary-color;
    position: fixed;
    top: -3rem;
    right: -3rem;
    height: 10rem;
    border: none;
    outline: none;
    border-radius: 10% 0 10% 50%;
    padding: 4rem 3rem 2.5rem 2.5rem;
    transition: 1s ease;
  }

  .opened {
    height: 110vh;
    border-radius: 0;
    right: 45vw;
    padding-right: 0;
    padding-left: 1.5rem;

    .nav__hamburger-t {
      transform: rotate(30deg);
      margin-top: 1rem;
    }

    .nav__hamburger-m {
      transform: rotate(90deg);
      right: 1.8rem;
      top: 6.05rem;
    }

    .nav__hamburger-b {
      transform: rotate(-30deg);
      right: 0;
      top: 7.2rem;
    }
  }

  .nav__logo-module {
    font-size: 2rem;
  }

  .nav__logo {
    width: 6rem;
  }
}

@media (max-width: 360px) {
  .nav__logo-module {
    font-size: 3rem;
  }

  .nav__logo {
    width: 8rem;
  }
}
