@import "./variables";

header {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr;
  font-family: $fancy-font;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 1rem 0 0.4rem 0;
  top: 0;
  position: fixed;
  z-index: 4;
}

.detached {
  background-color: $secondary-color;
  -webkit-box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 22px 44px 1px rgba(0, 0, 0, 0.41);
}

.logo {
  position: relative;
  width: 3rem;

  & > path {
    stroke: $tertiary-color;
  }
}

ul {
  grid-area: 1/3/2/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0.6rem 0 0 0;
  margin: 0;
}

a {
  color: $tertiary-color;
  text-decoration: none;
  li {
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 0;
    transition: border 2s;

    &:hover {
      border-bottom: 2px solid;
    }
  }
}

.logo-module {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: $tertiary-color;
}

.nav-active {
  color: $base-color;
}
