@import "./variables";

.project-module {
  margin-top: 5vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1.2rem;
}

.project__images-container {
  position: relative;
  display: flex;
  width: 85%;
  justify-content: stretch;
}

.project__desktop-img {
  position: relative;
  width: 70%;
  min-height: 32vw;
  background-color: $placeholder;
  margin-right: 5%;
}

.project__mobile-img {
  position: relative;
  width: 30%;
  min-height: 32vw;
  background-color: $placeholder;
}

.project__arrow-right,
.project__arrow-left {
  position: relative;
  font-size: 40px;
  background: none;
  border: none;
  flex: 5%;
  font-family: $fancy-font;
  outline: none;
  transition: linear color 0.4s;

  &:hover {
    .project__arrow-r > path,
    .project__arrow-l > path {
      stroke: $tertiary-color;
    }
  }
}

.project__arrow-r,
.project__arrow-l {
  width: 2rem;
  position: relative;
  & > path {
    fill: none;
    stroke: $secondary-color;
    transition: stroke 0.5s;
  }
}

.project__arrow-r {
  transform: scale(-1, 1);
  & > path {
    stroke: $base-color;
  }
}

.project__description-container {
  font-size: 2.5rem;
  width: 80%;

  h3 {
    text-align: center;
  }
}

.project__button-container {
  position: relative;
  width: 70%;
  margin: 0 15%;
  display: flex;
  align-items: center;
}

.project__view-button {
  flex: 30%;
  border-radius: 10px;
  border: $tertiary-color solid;
  color: $tertiary-color;
  background-color: inherit;
  margin: 3rem 3rem 0.85rem 3rem;
  font-size: 2.5rem;
  outline: none;
  transition: background-color 0.5s, color 0.6s;

  &:hover {
    background-color: $tertiary-color;
    color: rgba(255, 255, 255, 0.5);
  }
}

.project__triangle-a {
  position: absolute;
  top: 2vw;
  right: 0;
  width: 70vw;
  height: 60vw;
  background-color: $secondary-color;
  clip-path: polygon(49% 68%, 100% 100%, 100% 0);
  content: "";
}

.project__swap-info {
  display: none;
}

@media (max-width: 1049px) {
  .project__images-container {
    justify-content: center;
  }

  .project__project-module {
    margin-top: 20vh;
    padding-bottom: 20vh;
  }

  .project__arrow-r,
  .project__arrow-l {
    width: 4rem;
  }

  .project__view-button {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .project__button-container {
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    margin: 0 10%;
  }

  .project__triangle-a {
    position: absolute;
    top: 2vw;
    right: 0;
    width: 85vw;
    height: 60vh;
    background-color: $secondary-color;
    clip-path: polygon(49% 68%, 100% 100%, 100% 0);
    content: "";
  }
}

@media (max-width: 715px) {
  .project__images-container {
    justify-content: center;
    align-items: center;
  }

  .project__mobile-img {
    display: none;
  }

  .project__arrow-r,
  .project__arrow-l {
    display: none;
  }

  .project__view-button {
    flex: 1;
  }

  .project__swap-info {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .project__button-container {
    width: 100%;
    margin: 0;
  }

  .project__desktop-img {
    width: 95%;
  }

  .project__project-module {
    padding-bottom: 35vh;
  }
}

@media (max-width: 480px) {
  .project__swap-info {
    font-size: 3rem;
  }

  .project__description-container {
    font-size: 3.5rem;
  }
}
