@import "./variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  color: $secondary-color;
  font-family: $regular-font;
  padding: 0;
  margin: 0;
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 2% 0 0.8% 0;
  font-size: 5rem;
  font-family: $fancy-font;
  position: relative;
}

@media (min-width: 2000px) {
  html {
    font-size: 40px;
  }
}

@media (max-width: 1999px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1049px) {
  html {
    font-size: 10px;
  }

  h2 {
    font-size: 10rem;
    margin-bottom: 3%;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 281px) {
  html {
    font-size: 4px;
  }
}

@import "./animations";
@import "./loader";
@import "./home";
@import "./nav";
@import "./project";
@import "./about";
@import "./contact";

.active {
  opacity: 1;
  transition: opacity 0.5s;
}

.active {
  h2,
  h3,
  p,
  .project__view-button,
  .about__technology ul li,
  .about__technology ul,
  .contact__icon-container a {
    transform: translateY(2rem);
    opacity: 0;
    -webkit-animation: slide-up 1s ease-in forwards;
    animation: slide-up 1s ease-in forwards;
  }

  h3,
  .about__technology ul {
    animation-delay: 0.4s;
  }

  p {
    animation-delay: 0.6s;
  }

  .project__view-button:nth-of-type(1) {
    animation-delay: 0.6s;
  }

  .project__view-button:nth-of-type(2) {
    animation-delay: 0.8s;
  }

  @for $i from 1 through 9 {
    .about__technology ul li:nth-child(#{$i}) {
      animation-delay: calc(0.5s + #{$i} * 0.1s);
    }
  }

  @for $i from 1 through 3 {
    .contact__icon-container a:nth-child(#{$i}) {
      animation-delay: calc(0.2s + #{$i} * 0.3s);
    }
  }
}
