@import "./variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  color: $secondary-color;
  font-family: $regular-font;
  padding: 0;
  margin: 0;
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 2% 0 0.8% 0;
  font-size: 5rem;
  font-family: $fancy-font;
  position: relative;
}

@media (min-width: 815px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 814px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 281px) {
  html {
    font-size: 4px;
  }
}

@import "./home";
@import "./nav";
@import "./project";
@import "./about";
@import "./contact";
