$base-color: hsl(69, 52%, 68%);
$secondary-color: hsl(36, 100%, 8%);
$tertiary-color: hsl(22, 89%, 62%);
$placeholder: black;
$fancy-font: "Noto Serif", serif;
$regular-font: "Barlow", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Serif:wght@700&display=swap");
