@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Serif:wght@700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #cbd883;
  color: #291800;
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
}

.top-container {
  clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);
  width: 100%;
  min-height: 130vh;
  background-image: linear-gradient(to left, #291800 50%, transparent 50%), url("/../src/images/poppy.jpg");
  background-position: 80% 55%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  position: absolute;
  top: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr;
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 1rem;
  top: 0;
  position: fixed;
}

ul {
  grid-area: 1/3/2/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

a {
  color: #f48748;
  text-decoration: none;
}

a li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo-module {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.nav-active {
  color: #cbd883;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

h1 {
  font-family: "Noto Serif", serif;
  font-size: 4.5rem;
  text-align: right;
  margin-right: 1.5em;
  background: linear-gradient(to right, #291800 60%, #f48748 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
